extends layout

block content
    a(href='/students') Back
    h1= title
    form(method='POST', action=action)
        input(name='firstname', type='text', placeholder='Frist Name', value=student.firstname)
        br
        input(name='lastname', type='text', placeholder='Last Name', value=student.lastname)
        br
        input(name='age', type='text', placeholder='Age', value=student.age)
        br
        input(name='school', type='text', placeholder='School', value=student.school)
        br
        input(type='submit')
