extends layout

block content
    h1= title
    p Show all student info:
    table
        each student in students
            tr
                td
                    a(href='/students/#{student._id}')= student.firstname
                td= student.lastname
                td= student.age
                td= student.school
                td
                    a(href='/students/update/#{student._id}') Edit
    a(href='/students/add') Add
    br
    a(href='/') Search