extends layout

block content
    a(href='/students') Back
    h1= student.firstname
    table
        tr
            th First Name
            th Last Name
            th Age
            th School
            th Enrollment
        tr
            td= student.firstname
            td= student.lastname
            td= student.age
            td= student.school
            td= student.isEnrolled
